.shoppinglistdetail-name {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}


.shoppinglistdetail-container {
    height: 100vh;
}

.shoppinglist-detail-dark-mode {
    height: 100vh;
}